#signup_login_links {
    position: relative;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
}

.search_form {
    text-align: center;
    margin-top: 50px;
}

.search_form form {
    width: 400px;
    margin: 0 auto;
}

.search_form input[type = "text"] {
    width: 300px;
    height: 25px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #555555;
    border: 1px solid #777;
    font-size: 14px;
    background: url("./icons/search_icon.png") no-repeat 5px;
    background-size: 20px, 20px;
    text-indent: 25px;
}

#signup_all {
    /*width: 450px;
    height: 350px;*/
    width: 350px;
    height: 320px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    /*margin-left: -220px;*/
    margin-left: -180px;
    background-color: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#login {
    /*width: 450px;
    height: 350px;*/
    width: 350px;
    height: 250px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    /*margin-left: -220px;*/
    margin-left: -180px;
    background-color: #F7F7F7;
    border-radius: 15px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

#login_success {
    /*width: 450px;
    height: 350px;*/
    width: 350px;
    height: 250px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    /*margin-left: -220px;*/
    margin-left: -180px;
    background-color: #F7F7F7;
    border-radius: 15px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

#login_success p {
    padding: 80px 0px 20px 0px;
    font-size: 20px;
}
#login_success span {
    font-size: 16px;
}

#login input[type = "text"],
#login input[type = "password"]{
    margin: 8px;
    height: 20px;
    width: 240px;
}

#login_warning {
    margin: 3px;
    color: red;
    opacity: 0;
}

#cus_signup_warning {
    margin: 3px;
    color: red;
    opacity: 0;
}

#owner_signup_warning {
    margin: 3px;
    margin-top: 10px;
    color: red;
    opacity: 0;
    
}